@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100;1,100&display=swap');


body{
    font-family: 'Questrial', sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Barra de Navegacion 1 */
.barraDeNavegacion1{
    font-size: 12px;
    position: relative;
    display: flex;
    background: #001950;
    height: 40px;
    padding: 0 30px;
    justify-content: space-between;
}
.barraDeNavegacion1 p{
    cursor: pointer;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
     
}
.barraDeNavegacion1 .navbar1{
    display: flex;
    align-items: center;
    border: 5px;
}
.barraDeNavegacion1 .navbar2{
    display: flex;
    align-items: center;
}

/*menus */
.listaEmpresas{
    position: absolute;
    background: white;
    border: 1px solid #c7c7c7;
    list-style-type: none;
    top: 24px;
    left: 109px;
    padding: 10px;
}
.listaEmpresas li{
    font-size: 12px;
    padding: 7px;
    cursor: pointer;
}
.infImpUsuario{
    position: absolute;
    background: white;
    border: 1px solid #c7c7c7;
    list-style-type: none;
    top: 40px;
    left: 50vw;
    padding: 0px;
    border-radius: 5px;
}

.infImpUsuario li{
    font-size: 12px;
    padding: 6px;
    cursor: pointer;
}

/* Barra de Navegacion 2*/

.barraDeNavegacion2{
    background: #00377d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 74px;
}
.imgTiendaOnline{
    display: none;
}

.barraDeNavegacion2 div {
    display: flex;
    align-items: center;
}
.iconoNav {
    width: 40px;
}
.iconoNav2 {
    width: 28px;
}
.cointainerBNav2 p{
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}
.cointainerBNav2-2 p{
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    border-right: 1px solid white;
    padding: 10px;
}
.menusito{
    position: fixed;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 11px;
    width: 100%;
    height: 40px;
    top: 98px;
    padding-left: 10%;
}
.menusito li {
    margin: 0 15px;
    cursor: pointer;
}

/*Barra de Navegacion Unificada*/

.barraDeNavegacionUnificada{
    display: none;
}

.menuBarraDeNavUnificada{
    display: none;
}

/*Publicidad*/
.publicidad1{
    width: 100%;
}

.publicidad2{
    display: none;
}


/*Buscador */
.menu{
    position: absolute;
    width: 24px;
    top: 12px;
    left: 25px;
    cursor: pointer;
}
.menu2{
    position: absolute;
    width: 24px;
    left: 25px;
}

.buscador{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 211px;
    padding: 35px;
    border-right: 1px solid #bda8a8;
    border-bottom: 1px solid #bda8a8;
    position: absolute;
}
.buscador div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0;
    
}
.buscador a{
    display: flex;
}
ul{
    padding-inline-start: 0;
}

li{
    list-style-type: none; 
}
p{
    margin: 2px;
}

/*Planes */
.planes{
    margin-left: 90px;
    margin-top: 20px;
}
.opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.opciones1 {
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    border: 1px groove;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    justify-content: space-between;
}

.opciones1 p{
    display: flex;
    flex-direction: row;
}

/* Productos */

.SectionCel{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
}

.SectionCel img{
    width: 270px;
}

article{
    padding: 20px;
    border: 1px groove;
    margin: 10px;
    font-size: 10px;  
    border-radius: 5px;
}


.inactive{
    display: none;
} 

@media (max-width: 770px){
    .imgTiendaOnline{
        display: flex;
    }
    .cointainerBNav2-2 p{
        display: none;
    }
    .publicidad1{
        display: none;
    }
    .publicidad2{
        display: flex;
        width: 100%;
    }
    .barraDeNavegacion1{
        display: none;
    }
    .barraDeNavegacion2{
        display: none;
    }
    .barraDeNavegacionUnificada{
        background-color: #00377d;
        display: flex;
        justify-content: space-between;
    }
    .imgLogo{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .iconosMenuUnificado img{
        width: 45px;
        cursor: pointer;
    }
    article{
        padding: 0 20px;
        border: 1px groove;
        margin: 15px 0;
        font-size: 10px;
        border-radius: 5px;
        width: 240px;
        overflow: hidden;
    }
    .menuBarraDeNavUnificada{
        display: flex;
        flex-direction: column;
        background: #00377d;
        padding: 25px;
    }
    .fondo{
        background: rgba(77, 64, 64,7);
    }
    .inactive{
        display: none;
    }
}
