@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Varela+Round&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Barra de Navegacion 1 */
.barraDeNavegacion1{
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    background: #001950;
    height: 40px;
}
.barraDeNavegacion1 p{
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
     
}
.barraDeNavegacion1 .navbar1{
    display: flex;
    align-items: center;
    border: 5px;
}
.barraDeNavegacion1 .navbar2{
    display: flex;
    align-items: center;
}

.inactive {
    display: none;
}


/*lista de Empresas */
.listaEmpresas{
    position: absolute;
    background: white;
    border: 1px solid #c7c7c7;
    list-style-type: none;
    top: 28px;
    left: 94px;
    padding: 5px;
}
.listaEmpresas li{
 font-size: 16px;
}